body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.dashboard {
  max-width: 100%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.add-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn.enabled {
  background-color: #2563eb;
}

.add-btn.disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.stats {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 10px;
  margin: 20px 0;
  border-radius: 6px;
}

.empty {
  text-align: center;
  color: gray;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.completed {
  opacity: 0.6;
}

.activity-name {
  font-weight: bold;
}

.activity-name.completed {
  text-decoration: line-through;
}

.time {
  font-size: 13px;
  color: gray;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
}

.badge.pending {
  background-color: #fde68a;
  color: #92400e;
}

.badge.completed {
  background-color: #bbf7d0;
  color: #166534;
}

.toggle-btn {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border-radius: 1px;
  background-color: green;
}

.priority-high { color: red; }
.priority-medium { color: orange; }
.priority-low { color: green; }

.delete{
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: red;
   border-radius: 1px;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #1976d2;
  color: white;
}


.app-title {
  font-size: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 15px;
  font-weight: bold;
}

.logout-btn {
  background: white;
  color: #1976d2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e0e0e0;
}

.main-container {
  display: flex;
  height: calc(100vh - 60px); 
}

.sidebar {
  width: 200px;
  background-color: #f5f5f5;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.menu-item {
  padding: 15px 20px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #e0e0e0;
}

.menu-item.active {
  background-color: #1976d2;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.page-content {
  flex: 1;
  padding: 25px;
  background-color: #fafafa;
  overflow-y: auto;
}

